<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diyactivity"
        tools:targetApi="31">
        <activity
            android:name=".DiyetPazar"
            android:exported="false" />
        <activity
            android:name=".DiyetCmt"
            android:exported="false" />
        <activity
            android:name=".DiyetCuma"
            android:exported="false" />
        <activity
            android:name=".DiyetPers"
            android:exported="false" />
        <activity
            android:name=".DiyetCarsamba"
            android:exported="false" />
        <activity
            android:name=".DiyetSali"
            android:exported="false" />
        <activity
            android:name=".DiyetPzt"
            android:exported="false" />
        <activity
            android:name=".DiyetEkrani"
            android:exported="false" />
        <activity
            android:name=".SporGun3"
            android:exported="false" />
        <activity
            android:name=".SporGun2"
            android:exported="false" />
        <activity
            android:name=".SporGun1"
            android:exported="false" />
        <activity
            android:name=".SporEkrani"
            android:exported="false" />
        <activity
            android:name=".ProgramOlustur"
            android:exported="false" />
        <activity
            android:name=".AnaEkran"
            android:exported="false" />
        <activity
            android:name=".ProfilEkrani"
            android:exported="false" />
        <activity
            android:name=".GirisEkrani"
            android:exported="false" />
        <activity
            android:name=".KayitEkrani"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AcilisAnimasyonu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>